<!doctype html>
<link rel="stylesheet" type="text/css" href="formatting.css">
<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<h1>Welcome, {{name}}!<br /> </h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-event" method="post">
    <input type="text" placeholder="Description" name="description" size="50" />
    <input type="datetime-local" name="startTime" value="{{now}}" />
    <input type="datetime-local" name="endTime" value ="{{now}}"/>
    <button type="submit">Add Event</button>
</form>
{{/user}}

<table>  <th>Descripton</th>  <th>startTime</th> <th>endTime</th></table>
{{#events}}

{{description}} {{startTime}} {{endTime}} <br />
{{/events}}
</body>
</html>